* {
	margin: 0px;
}

body {
	background-color: hsl(36, 100%, 99%);
	font-family: "Inter";
	padding: 3% 14%;
	height: 100%;
}

a {
	text-decoration: none;
}

p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(236, 13%, 42%);
}

nav h1 {
	font-family: "Inter Black";
	font-weight: 800;
	font-size: 2.5rem;
}

.nav-bar {
	display: flex;
	justify-content: space-between;
}

.nav-list {
	display: flex;
	align-self: center;
	gap: 2rem;
}

.nav-list a {
	color: hsl(236, 13%, 42%);
}

.nav-list a:hover {
	color: hsl(35, 77%, 62%);
}

.main {
	margin-top: 3%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 220px repeat(2, 170px);
	column-gap: 1.5rem;
	row-gap: 1.5rem;
}

.new {
	background-color: hsl(240, 100%, 5%);
	grid-column: 3;
	grid-row: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	padding: 6%;
}

.hero {
	grid-column-start: 1;
	grid-column-end: 3;
}

img {
	height: 100%;
	width: 100%;
}

.headline {
	font-weight: 800;
	font-size: 2.8rem;
	align-self: flex-end;
}

.flex-group {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

button {
	background-color: hsl(5, 85%, 63%);
	border: 0px;
	text-transform: uppercase;
	font-family: "Inter";
	color: white;
	letter-spacing: 5px;
	padding: 0.75em 1.5em;
	cursor: pointer;
}

button:hover {
	background-color: hsl(240, 100%, 5%);
}

.new-item {
	border-bottom: 1px solid hsl(236, 13%, 42%);
	padding: 20px 0px;
	color: white;
	line-height: 1.7;
}

.new-item:last-of-type {
	border-bottom: 0px;
}

.new h1 {
	color: hsl(35, 77%, 62%);
}

.new-item p {
	color: hsl(233, 8%, 79%);
	font-size: 0.8rem;
	margin-top: 10px;
}

.new-item a {
	color: white;
}

.new-item a:hover {
	color: hsl(35, 77%, 62%);
}

.card {
	height: 80%;
	display: grid;
	grid-template-columns: 1fr 2fr;
	column-gap: 1.2rem;
	align-self: flex-end;
}

.card h1 {
	color: hsl(233, 8%, 79%);
}

.card p {
	font-size: 0.85rem;
	line-height: 1.7;
}

.card a {
	color: hsl(240, 100%, 5%);
}

.card a:hover {
	color: hsl(35, 77%, 62%);
}
